<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>
    <script src="js/index.js"></script>
</head>
<body>
    <div id="message">

    </div>
    name: <input type="text" name="name" id="name">
    <br>
    Location: <input type="text" name="location" id="location">
    <br>
    Favorite Language: <input type="text" name="lang" id="lang">
    <br>
    Comments: 
    <br>
    <textarea name="comments" id="comments"></textarea>
    <br>
    <button id="submit">Submit</button>
</body>
</html>