<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% if(messages.registration) { %>
        <% for (var x of messages.registration) { %>
            <h3><%= x %></h3>
        <% } %>
    <% } %>
    <form action="/animal" method="Post">
        Name: <input type="text" name="name">
        Age: <input type="number" name="age">
        Species: <input type="text" name="species">
        <input type="submit">
    </form>
</body>
</html>