<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <form action="/new" method="POST">
        name: <input type="text" name="name">
        Location: <input type="text" name="location">
        Favorite Language: <input type="text" name="lang">
        Comments: 
        <textarea name="comments"></textarea>
        <input type="submit">
    </form>
</body>
</html>