<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>
    <script src="js/index.js"></script>
</head>
<body>
    <h1>The button has been pushed <span>0</span> Time(s)</h1>
    <p>Push the button to update the count</p>
    <button id="push">Push the epic button</button>
    <button id="reset">Reset</button>
</body>
</html>