<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <a href="/cats/0"> <img src="./images/cat.jpg" alt=""> </a>
    <a href="/cats/1"> <img src="./images/cat1.jpg" alt=""> </a>
</body>
</html>