<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1><%= cat.name %></h1>
    <h2>Age: <%= cat.age %></h2>
    <% for(var i in cat.favoriteSpots) %>
        <p><%= cat.favoriteSpots[i] %></p>
</body>
</html>